.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.form {
  padding: 20px

}
body {
  background-color: #49a8b6;
}

input {
  background-color: limegreen;
}
.delete {
  background-color: red;
}
.edit {
  background-color: yellowgreen;
}
.cancel {
  background-color: red;
}
.submit {
  background-color: green;
}